---
import Button from "@elements/Button.astro"
import ConfirmationBox from "@elements/ConfirmationBox.astro"

---
<ConfirmationBox class="blah"></ConfirmationBox>
<Button yourMOM="">Contact Us</Button>