---
/*************************************************************************
 * @hero/SideBarHero.astro
 * 
 *************************************************************************/

// Assets
import { Site } from "@site.config";

// Elements
import Button from "@elements/Button.astro";
import Slider from "@elements/Slider.astro";
import Logo from '@elements/SVGlogo.astro';
import Sprite from "@elements/SVGsprite.astro";
import FuzzyImage from "@elements/FuzzyImage.astro";
---

<section id="hero__wrapper" class="is-wrapper">
    <div id="hero">
        <div id="hero__background">
            <FuzzyImage name="carbon-hero.webp" alt="Carbon Hero" eager />
        </div>
        <div id="hero__content">
            <div class="content">
                <Logo id="hero__logo" name="stimsdesign" />
                <Slider arrows pagination id="hero__slider">
                    <div class="slide">
                        <h1 class="fire">Start Your Summer Off Right</h1>
                        <Button href="/" class="alt">Schedule Opening</Button>
                    </div>
                    <div class="slide">
                        <h1 class="fire">Your Utah Pool Service Experts</h1>
                        <Button href="/" class="alt">View Services</Button>
                    </div>
                    <div class="slide">
                        <h1 class="fire">Highly Rated Utah Pool Service</h1>
                        <Button href="/" class="alt">Learn More</Button>
                    </div>
                </Slider>
            </div>
            <div class="side-panel">
                <h2><span>New Customers</span> <span>Receive</span> <span class="fire">20% Off</span> <span>First Service</span></h2>
                <Button type="switch" switchTarget="lead-overlay" name="lead-overlay__switch">Schedule Now</Button>
                <div class="badges">
                    <Sprite name="GoogleReviews" />
                    <Sprite name="BBB" />
                </div>
                <a id="hero__phone" href={`tel:${Site.Telephone}`} aria-label={`Call Today ${Site.PrettyTelephone}`}>{Site.PrettyTelephone}</a>
            </div>
        </div>
    </div>
</section>

<style>
    @import "@theme/hero/SideBarHero.css";
</style>