---
import { Image } from "astro:assets";
import BistroImg from "/src/assets/images/bistro.jpg";
import BistroImgSm from "/src/assets/images/bistro-sm.jpg";
import LockIcon from "/src/icons/lock.svg";
import PiggyBankIcon from "/src/icons/piggybank.svg";
---
<div id="bistro-card" class="slide active">
    <div class="card-image">
        <div class="fuzzy-load" style={`--background: url('${BistroImgSm.src}')`}>
            <Image src={BistroImg} alt="Bistro" loading="lazy" />
        </div>
    </div>
    <div class="card-inner">
        <div class="header-row">
            <hgroup>
                <h3>Local Bistro</h3>
                <p>Replace the forced payment processing and hardware baked into proprietary restaurant POS platforms with the processor and hardware of your choice.</p>
            </hgroup>
            <div class="stinger">
                <p>Reclaim <span>Huge Savings</span> on Annual Processing Fees</p>
                <p><span>Save Money</span> with Freedom of Choice with Your Hardware</p>
            </div>
        </div>
        <div class="body-row">
            <ul>
                <li><span class="fire">Break Free From Big POS</span></li>
                <li class="cross">Forced Processor Bundles</li>
                <li class="cross">Forced Hardware Leasing</li>
                <li class="cross">Hidden Monthly Fees</li>
                <li class="cross">Limited Customization</li>
                <li class="cross">Limited Data Access</li>
                <li class="cross">Long-term Contracts</li>
                <LockIcon />
            </ul>
            <ul>
                <li><span class="electric">Take Control of Savings</span></li>
                <li class="check">BYO Processor of Choice</li>
                <li class="check">Choose Your Hardware</li>
                <li class="check">Competetive, Fair Pricing</li>
                <li class="check">Tailored Solutions</li>
                <li class="check">Full Data Control</li>
                <li class="check">No Contracts Ever</li>
                <PiggyBankIcon  />
            </ul>
        </div>
        <div class="footer-row">
            Unlock Savings and Gain Control of Payments
        </div>
    </div>
</div>

<style>
    /* Bistro Card */
    #bistro-card .body-row {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
        padding: 2rem;
        gap: 2rem;
    }

    #bistro-card .body-row ul {
        display: grid;
        grid-template-columns: auto 1fr;
        list-style: none;
        padding: 2.5rem 0 calc(.5rem + 25px);
        margin: calc(1em + .5rem) 0 0;
        border: solid 1px var(--color-accent);
        border-radius: 25px;
        background: color-mix(
            in srgb,
            var(--color-secondary-darker),
            transparent 40%
        );
        position: relative;
        min-width: 30vw;
    }

    #bistro-card .body-row ul li {
        display: block;
        grid-column: 2;
        position: relative;
        color: white;
        padding: .5rem 1.5rem;
        display: flex;
        align-items: flex-start;

    }

    #bistro-card .body-row ul li.cross::before,
    #bistro-card .body-row ul li.check::before {
        margin-top: 0.25em;
    }



    #bistro-card .body-row ul li:nth-child(odd) {
    background: linear-gradient(
        to left,
        rgba(1, 55, 123, 1) 0%,
        rgba(1, 55, 123, 0) 100%
    );
    }

    #bistro-card .body-row ul:nth-of-type(2) li:nth-child(odd) {
    background: linear-gradient(
        to left,
        rgba(5, 104, 187, 1) 0%,
        rgba(5, 104, 187, 0) 100%
    );
    }

    #bistro-card .body-row ul li:first-child {
        grid-column: 1 / -1;
        grid-row: 1;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, calc(-100% - 1rem));
        z-index: 2;
        width: max-content;
        padding: 0.75rem 1rem;
        border: solid 1px var(--color-accent);
        border-radius: 10px;
        background: var(--color-secondary-darker) !important;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
        font-family: var(--family-heading);
        text-transform: uppercase;
        font-weight: var(--weight-bold);
        font-size: var(--size-lg);
        color: var(--color-secondary-lighter);
    }

    #bistro-card .body-row ul svg {
        grid-column: 1;
        grid-row: 2 / 6;
        align-self: center;
        width: auto;
        height: clamp(80px, 30vw, 180px);
        object-fit: contain;
        margin: 0 0 0 1.5rem;
        color: white;
        opacity: 0.8;
    }

    @media (orientation: portrait) {
        #bistro-card .body-row ul {
            width: 100%;
            grid-template-columns: auto 1fr 1fr;
            padding-top: 3rem;
        }

        #bistro-card .body-row ul svg {
            grid-column: 1;
            grid-row: 1 / span 10;
            margin: 0 1rem;
        }

        #bistro-card .body-row ul li:first-child {
            transform: translate(-50%, calc(-100% - 1rem));
        }
        #bistro-card .body-row ul li:not(:first-child) {
            grid-column: auto;
        }
    }

    @media (orientation: portrait), (width < 768px) {
        #bistro-card .body-row {
            flex-direction: column;
            gap: 1cqi;
            padding: 0 0.75rem 1rem;
        }

        #bistro-card .body-row ul li:first-child {
            font-size: var(--size-lg);
        }
        
    }

    @media (width < 768px) {
        #bistro-card .body-row ul .side-image {
            display: none;
        }

        #bistro-card .body-row ul li:not(:first-child) {
            grid-column: 2 / -1;
        }
        
        #bistro-card .body-row ul li:not(:first-child) {
        }
    }</style>