---
import { Image } from "astro:assets";
import LandscapingImg from "/src/assets/images/landscaping.jpg";
import LandscapingImgSm from "/src/assets/images/landscaping-sm.jpg";
---
<div id="landscaping-card" class="slide">
    <div class="card-image">
        <div class="fuzzy-load">
            <Image src={LandscapingImgSm} class="blur-layer" alt="Landscaping" loading="eager" />
            <Image src={LandscapingImg} alt="Landscaping" loading="lazy" />
        </div>
    </div>
    <div class="card-inner">
        <div class="header-row">
            <hgroup>
                <h3>Urban Landscaping</h3>
                <p>Turn hourly labor into skilled professionals with your own on-demand, in-house training platform.</p>
            </hgroup>
            <div class="stinger">
                <p>Bridge the <span>Skills Gap</span></p>
                <p><span>Elevate</span> Your Crew</p>
            </div>
        </div>
        <div class="body-row">
            <div>
                <p>Another Costly Mistake?</p>
                <ul>
                    <li>The Skills Gap</li>
                    <li>High Turnover &amp; Rework</li>
                    <li>Inconsistent Quality</li>
                    <li>Stuck on Basic Jobs</li>
                </ul>
            </div>
            <div>
                <p>Custom Training Academy</p>
                <ul>
                    <li>Play</li>
                    <li>Quiz</li>
                    <li>Certify</li>
                </ul>
            </div>
            <div>
                <p>Premium Job, Done Right</p>
                <ul>
                    <li>Certified Experts</li>
                    <li>Higher Profit Margins</li>
                    <li>Access Premium Projects</li>
                    <li>Elite Industry Reputation</li>
                </ul>
            </div>
        </div>
        <div class="footer-row">
            Stop Fixing Mistakes - Start Building Expertise
        </div>
    </div>
</div>