---
import { Image } from "astro:assets";
import VintageImg from "/src/assets/images/vintage.jpg";
import VintageImgSm from "/src/assets/images/vintage-sm.jpg";
---
<div id="vintage-card" class="slide">
    <div class="card-image">
        <div class="fuzzy-load" style={`--background: url('${VintageImgSm.src}')`}>
            <Image src={VintageImg} alt="Vintage" loading="lazy" />
        </div>
    </div>
    <div class="card-inner">
        <div class="header-row">
            <hgroup>
                <h3>Vintage Vault</h3>
                <p>Effortlessly sync your brick-and-mortar treasures with your online store. No more manual counting, no more overselling.</p>
            </hgroup>
            <div class="stinger">
                <p><span>Expand</span> Your Reach</p>
                <p>from Local Gem to <span>Global Vault</span></p>
            </div>
        </div>
        <div class="body-row">
            <div>
                <h4>Brick &amp; Mortar Soul</h4>
                <figure>
                    <img src="/images/brick-mortar-soul.svg" alt="Brick and Mortar Soul" />
                </figure>
                <p class="cross">The Manual Headache: Spreadsheets, <span class="nowrap">Late-Night</span> Counts, The Dreaded 'Double-Sell'.</p>
            </div>
            <div>
                <figure>
                    <img src="/images/vinyl.svg" alt="Automated Inventory Sync" />
                </figure>
                <span class="fire">Automated Inventory Sync</span>
            </div>
            <div>
                <h4>Digital Reach</h4>
                <figure>
                    <img src="/images/digital-reach.svg" alt="Digital Reach" />
                </figure>
                <p class="check">The Automated Groove: Real-Time Sync, Sell 24/7 Globally, More Time Curating.</p>
            </div>
        </div>
        <div class="footer-row">
            Keep the Music Spinning All Night Long
        </div>
    </div>
</div>

<style>
    /* Vintage Card */
    #vintage-card .body-row {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
        padding: 2rem;
        gap: 2cqi;
    }

    #vintage-card .body-row > div {
        flex: 1;
        padding: 0 1rem;
        background: linear-gradient(
            to bottom,
            var(--color-accent-light) 0%,
            color-mix(in srgb, var(--color-secondary-darker), transparent) 60%
        );
        overflow: hidden;
        border-radius: 25px;
        border: solid 2px var(--color-accent-lighter);
        position: relative;
    }

    #vintage-card .body-row > div::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -60%);
        width: 70%;
        aspect-ratio: 1/1;
        background: radial-gradient(
            circle,
            var(--color-accent-lightest) 0%,
            transparent 70%
        );
        pointer-events: none;
        z-index: 0;
    }

    #vintage-card .body-row > div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: none;
        text-align: center;
        max-width: 15%;
        margin: 0; /* No box margin/overlap */
        flex: 0 0 15%;
        height: auto;
        border: none;
        overflow: visible; /* Allow text to bleed out! */
        border-radius: 0;
        z-index: 1; /* Normal z-index for the container */
        position: relative; /* Base for text absolute positioning */
    }

    #vintage-card .body-row > div:nth-of-type(2)::after {
        display: none;
    }

    #vintage-card .body-row > div:nth-of-type(2) > span {
        display: block;
        font-weight: var(--weight-bold);
        font-size: var(--size-medium);
        font-family: var(--family-heading);
        margin-top: 1rem;
        z-index: 1;
    }

    #vintage-card .body-row > div h4 {
        text-align: center;
        font-size: var(--size-xl);
        font-weight: var(--weight-bold);
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: var(--color-secondary-darker);
        text-transform: uppercase;
        z-index: 1;
        position: relative;
    }

    #vintage-card .body-row > div figure {
        background-color: var(--color-secondary-darker);
        width: 100%;
        max-height: 20vh;
        aspect-ratio: 1 / 1;
        padding: 1rem 1rem 0;
        border-radius: 15px 15px 0 0;
        z-index: 1;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #vintage-card .body-row > div:nth-last-of-type(2) figure {
        background: none;
        border-radius: 0;
        border: none;
        margin-bottom: 0;
        padding: 0;
        animation: rotate 10s linear infinite;
        will-change: transform;
        aspect-ratio: 1 / 1;
        overflow: visible;
        max-height: 10vh;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg) translateZ(0);
        }
        to {
            transform: rotate(360deg) translateZ(0);
        }
    }

    #vintage-card .body-row > div img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

    #vintage-card .body-row div p {
        height: 100%;
        padding: 1rem 1rem 1rem calc(1rem + 1.4em);
        background-color: var(--color-secondary-darker);
        border-radius: 0 0 15px 15px;
        border: none;
        position: relative;
        line-height: 1.25em;
        margin-bottom: 0;
        z-index: 1;
    }

    #vintage-card .body-row div p.cross::before,
    #vintage-card .body-row div p.check::before {
        position: absolute;
        top: 1.5rem;
        left: 1rem;
    }

    @media (orientation: portrait), (width < 768px) {

        #vintage-card .body-row > div {
            background: var(--color-accent);
        }


        .card-inner .header-row {
            display: flex;
            flex-direction: column;

        }

        .card-inner hgroup {
            padding: 1rem 1rem 0;
            max-width: 100%;
            text-align: center;
        }
/* 
        .card-inner hgroup h3 {
            font-size: var(--size-3xl);
        } */

        .card-inner .stinger {
            display: block;
            padding: 0.5rem clamp(1rem, 2vw, 2rem);
            max-width: 100%;
            width: 100%;
            text-align: center;
            background: none;
        }

        .card-inner .stinger p:nth-of-type(2) {
            margin-top: 0;  
            margin-bottom: 1rem;
        }

        #vintage-card .body-row {
            flex-direction: column;
            gap: 1rem;
            padding: 0 0.75rem 1rem;
            justify-content: center;
            flex-grow: 0;
            min-height: 50vh;
        }

        #vintage-card .body-row > div {
            flex: 1;
            padding: 0;
        }

        #vintage-card .body-row > div:nth-of-type(2) {
            max-width: 100%;
            width: 100%;
            max-height: 15vh;
            flex: 0 0 auto;
        }
        

        #vintage-card .body-row > div:not(:nth-of-type(2)) figure {
            max-height: 100px;
        }

        #vintage-card .body-row > div:nth-of-type(2) figure {
            max-width: 20vw;
        }
        #vintage-card .body-row > div:nth-of-type(2) figure img {
            display: block;
        }

        #vintage-card .body-row > div:nth-of-type(2) > span {
            font-size: var(--size-xl);
        }
    }

</style>