---
// Props
interface Props {
    id?: string;
}
const { id } = Astro.props;
---
<main id={id} class="is-wrapper" >
    <slot>
        <p class="no-content">No content provided.</p>
    </slot>
</main>

<style>
    @import "@theme/layout/Main.css";
</style>
