---
interface Props {
    id? : string;
    style?: string;
}
const {
    id = "",
    style = ""
} = Astro.props;
---


<section id={id || undefined} class={style || undefined}>
    <div>
        <slot />
    </div>
</section>

<style>

    section {
        margin: 0 1rem;
        border-left: solid 1px var(--color-accent);
        border-right: solid 1px var(--color-accent);
        background-color: var(--color-secondary-dark);

    }

    section > div {
        padding-bottom: 2rem;
        min-height: 100dvh;

    }

    section.secondary-topright-corner,
    section.secondary-bottomright-corner {
        background-color: var(--color-foreground);
    }  

    section.secondary-topright-corner > div,
    section.secondary-bottomright-corner > div {
        background-color: var(--color-secondary-dark);
    }


    section.secondary-bottomright-corner > div {
        border-radius: 0 0 15vw 0;
        padding: 2rem 6rem 8rem;

    }


    section.secondary-topright-corner > div {
        border-radius: 0 15vw 0 0;
        padding: 8rem 6rem 2rem;

    }

    section.foreground-left-corners {
        background-color: var(--color-secondary-dark);
    }

    section.foreground-left-corners > div {
        color: var(--color-background);
        background-color: var(--color-foreground);
        border-radius: 15vw 0 0 15vw;
        padding: 8rem 6rem 2rem;
    }

</style>