---
import ShopifyBag from "../../icons/shopify-bag.svg";
import ToolsIcon from "../../icons/tools.svg";
import RealEstateIcon from "../../icons/real-estate.svg";
import PizzaSlice from "../../icons/pizza-slice.svg";
import LogisticsIcon from "../../icons/logistics.svg";
---

<section id="verticals">
    <div>
        <div class="grid">
            <div>
                <div>
                    <h1>I work across multiple business verticals</h1>
                    <p><span class="bold">Every business is different, but they all have the same core problem:</span> <span class="fire bold">their website isn’t doing any work for them</span>. Most websites just sit online like a digital brochure—nice to look at, but not helping your business operate, automate, or grow. My approach is simple: your website should take on real jobs. It should reduce the workload on you and your team, help customers take action without friction, and support the daily operations of your business, not just your marketing.</p>
                    <p>That’s why I build solutions across multiple industries—real estate, e-commerce, service companies, restaurants, logistics, and more—through the lens of "What job can your website do for you?" Whether it’s booking appointments, managing inventory, capturing leads, training employees, automating reviews, tracking shipments, or driving repeat purchases, your website becomes a functional part of your workforce. A tool. An asset. A system that pays for itself by doing work day and night.</p>
                    <h5>So the real question isn’t “What kind of website do you need?” - it’s “What job do you want your website to handle for you next?”</h5>
                    <a class="button" href="/estimate.html">What's Next?</a>
                </div>
            </div>
            <div>
                <div class="sticky-cards">
                    <div class="sticky-cards__item">
                        <article class="fancy-border" data-color="secondary">
                            <div>
                                <ShopifyBag />
                                <h5>ECommerce</h5>
                                <ul>
                                    <li>sales Retargeting</li>
                                    <li>automated inventories</li>
                                    <li>conversion tracking</li>
                                    <li>up/cross-sell automation</li>
                                    <li>dynamic recommendations</li>
                                    <li>seasonal merchandising</li>
                                </ul>
                            </div>
                        </article>
                    </div>
                    <div class="sticky-cards__item">
                        <article class="fancy-border" data-color="primary">
                            <div>
                                <ToolsIcon />
                                <h5>Service</h5>
                                <ul>
                                    <li>quote & estimate intake</li>
                                    <li>membership enrollment</li>
                                    <li>online booking</li>
                                    <li>self-service hubs</li>
                                    <li>training/knowledge portals</li>
                                    <li>automated review collection</li>
                                </ul>
                            </div>
                        </article>
                    </div>
                    <div class="sticky-cards__item">
                        <article class="fancy-border" data-color="accent">
                            <div>
                                <RealEstateIcon />
                                <h5>Real Estate</h5>
                                <ul>
                                    <li>MLS integrations</li>
                                    <li>inquiry & lead routing</li>
                                    <li>appointment booking</li>
                                    <li>document hubs</li>
                                    <li>testominial triggers</li>
                                    <li>Smart community pages</li>
                                </ul>
                            </div>
                        </article>
                    </div>
                    <div class="sticky-cards__item">
                        <article class="fancy-border" data-color="foreground">
                            <div>
                                <PizzaSlice />
                                <h5>Restaurants</h5>
                                <ul>
                                    <li>Online Ordering</li>
                                    <li>Inventory Management</li>
                                    <li>Reservations & Waitlists</li>
                                    <li>Catering Intake</li>
                                    <li>Loyalty Rewards</li>
                                    <li>Staff Portals</li>
                                </ul>
                            </div>
                        </article>
                    </div>
                    <div class="sticky-cards__item">
                        <article class="fancy-border" data-color="background">
                            <div>
                                <LogisticsIcon />
                                <h5>Logistics</h5>
                                <ul>
                                    <li>Load Postings</li>
                                    <li>Driver Status Tracking</li>
                                    <li>Driver Load Assignments</li>
                                    <li>Maintenance Scheduling</li>
                                    <li>Work Orders</li>
                                    <li>Carrier Onboarding</li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    #verticals {
        color: var(--color-foreground);
        background-color: var(--color-secondary-dark);
    }

    #verticals > div {
        width: clamp(94%, 100% - 10cqi, 1440px);
        min-height: 100dvh;
        margin: 0 auto;
        padding: 4rem 0 8rem;
        border-radius: 0 0 15vw 0;
    }

    @media (max-width: 768px) {
        #verticals > div {
            padding: 2rem 0 8rem;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1.1fr 1fr;
        gap: 2cqi;
        margin: 0 auto;
    }

    h1 {
        filter: drop-shadow(1px 1px 4px rgba(255, 255, 255, 0.4));
    }

    .grid > div:nth-child(1) > div {
        position: sticky;
        top: 2rem;
    }

    .grid > div:nth-child(1) {
        grid-column: 2;
        grid-row: 1;
    }

    .grid > div:nth-child(2) {
        grid-column: 1;
        grid-row: 1;
    }

    .sticky-cards {
        display: flex;
        flex-direction: column;
    }

    .sticky-cards__item {
        --offset: 1rem;
        --stack-x: 0px;
        --stack-y: 0px;
        position: sticky;
        top: 2rem;
        width: calc(100% - 5 * var(--offset));
        opacity: 1;
        transform: translate(var(--stack-x), var(--stack-y));
        z-index: 1;
    }

    .sticky-cards__item + .sticky-cards__item {
        margin-top: 1cqi;
    }

    .sticky-cards__item:nth-of-type(1) {
        --stack-x: calc((1 - 1) * var(--offset));
        --stack-y: calc((1 - 1) * var(--offset));
        z-index: 1;
    }
    .sticky-cards__item:nth-of-type(2) {
        --stack-x: calc((2 - 1) * var(--offset));
        --stack-y: calc((2 - 1) * var(--offset));
        z-index: 2;
    }
    .sticky-cards__item:nth-of-type(3) {
        --stack-x: calc((3 - 1) * var(--offset));
        --stack-y: calc((3 - 1) * var(--offset));
        z-index: 3;
    }
    .sticky-cards__item:nth-of-type(4) {
        --stack-x: calc((4 - 1) * var(--offset));
        --stack-y: calc((4 - 1) * var(--offset));
        z-index: 4;
    }
    .sticky-cards__item:nth-of-type(5) {
        --stack-x: calc((5 - 1) * var(--offset));
        --stack-y: calc((5 - 1) * var(--offset));
        z-index: 5;
    }

    .button {
        border-color: var(--color-secondary-darker);
    }

    .fancy-border[data-color="secondary"] > div {
        background-color: var(--color-secondary);
        color: var(--color-foreground);
        background-image: url("/images/ecommerce-bg.webp");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    }
    .fancy-border[data-color="primary"] > div {
        background: var(--color-primary);
        color: var(--color-foreground);
        background-image: url("/images/service-bg.webp");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    }
    .fancy-border[data-color="accent"] > div {
        background: var(--color-accent);
        color: var(--color-secondary-darker);
        background-image: url("/images/realestate-bg.webp");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    }
    .fancy-border[data-color="foreground"] > div {
        background: var(--color-foreground);
        color: var(--color-background);
        background-image: url("/images/restaurants-bg.webp");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    }
    .fancy-border[data-color="background"] > div {
        background: var(--color-background);
        color: var(--color-foreground);
        background-image: url("/images/logistics-bg.webp");
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    }

    .fancy-border > div {
        display: grid;
        grid-template-columns: 4cqi 1fr;
        grid-template-rows: auto auto;
        column-gap: 1cqi;
        row-gap: 0.5cqi;
        align-items: center;
        padding: 1cqi;
        box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }

    .fancy-border > div > svg {
        grid-row: span 2;
        width: 100%;
        height: auto;
        display: block;
        align-self: start;
    }

    .fancy-border > div > h5 {
        grid-column: 2;
        grid-row: 1;
        margin: 0 0 0.5rem 0;
        font-weight: var(--weight-bold);
    }

    .fancy-border ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        list-style-type: none;
        row-gap: 0.5rem;
    }

    .fancy-border ul li {
        font-weight: var(--weight-medium);
        text-transform: capitalize;
        font-size: var(--size-sm);
        max-width: 100%;
        overflow-wrap: anywhere;
    }

    @media (max-width: 1024px) {
        .grid {
            grid-template-columns: 1fr;
            gap: 3rem;
        }

        .grid > div:nth-child(1) {
            text-align: center;
            grid-column: 1;
            grid-row: 1;
        }

        .grid > div:nth-child(1) p {
            margin: 0 auto 2rem;
        }

        .grid > div:nth-child(2) {
            grid-column: 1;
            grid-row: 2;
        }

        .sticky-cards__item {
            width: 100%;
            top: 0;
            --stack-x: 0px !important;
        }

        .sticky-cards__item + .sticky-cards__item {
            margin-top: 1.5rem;
        }

        #verticals > div {
            border-radius: 0 0 10vw 0;
            padding-bottom: 6rem;
        }

        .fancy-border > div {
            padding: 1.5rem 1rem;
        }
    }

    @media (max-width: 600px) {
        .sticky-cards__item + .sticky-cards__item {
            margin-top: 0;
        }

        .fancy-border > div {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto; /* h5 then ul */
        }

        .fancy-border > div > svg {
            display: none;
        }

        /* reset desktop placement rules so items can stack */
        .fancy-border > div > h5 {
            grid-column: 1;
            grid-row: 1;
            margin: 0 0 0.75rem 0;
        }

        .fancy-border > div > ul {
            grid-column: 1;
            grid-row: 2;
        }
    }
</style>
