---
import Button from "../elements/Button.astro";
---

<div id="dropdown" class="is-wrapper">
    <div class="dropdown__content">
        <div class="dropdown__inner">
            <ul>
                <li><a href="#">Menu Item</a></li>
                <li><a href="#">Menu Item</a></li>
                <li><a href="#">Menu Item</a></li>
                <li><a href="#">Menu Item</a></li>
            </ul>
            <Button href="/services.html">View All Services</Button>
        </div>
    </div>
</div>