#page-heading {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 2cqi;
    justify-content: space-between;
    margin-bottom: 2rem;
    
}

#page-heading__text {
    position: relative;
    width: 100%;
    height: 14cqi;
    overflow: hidden;
}

#page-heading__text h1 {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-primary);
    font-size: 5cqi;
    line-height: 1em;
    padding: 0 1cqi;
    color: transparent;
}

#page-heading__text h1.dark {
    background-image: linear-gradient(to bottom,
        var(--color-primary),
        var(--color-primary-dark));
    background-clip: text;
    filter: 
        drop-shadow(1px 1px 0px white) 
        drop-shadow(-1px -1px 0px white) 
        drop-shadow(1px -1px 0px white) 
        drop-shadow(-1px 1px 0px white);
}

#page-heading__text h1.light {
    background-image: linear-gradient(to bottom,
        var(--color-secondary-lighter),
        var(--color-secondary));
    background-clip: text;
    filter: drop-shadow(1px 1px 0 var(--color-primary-dark));
}

#page-logo {
    width: auto;
    height: 5cqi;
}

@media screen and (max-width: 769px) {
    #page-heading {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    #page-heading__text h1 {
        color: var(--color-primary);
    }
    #page-heading__text h1.dark,
    #page-heading__text h1.light {
        text-shadow: none;
        -webkit-text-stroke: 0px transparent;
        letter-spacing: -1px;
        background-image: none;
    }

    #page-logo {
        width: 100%;
        height: auto;
    }

    #page-heading__text.fuzzy-image {
        background-image: none;
        height: initial;
        transition: none;
    }

    #page-heading__text.fuzzy-image::before {
        display: none;
    }

    #page-heading__text.fuzzy-image > * {
        opacity: 1;
        transition: none;
    }

    #page-heading__text h1 {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin: 1rem 0;
        justify-content: center;
        font-size: 10cqi;
        text-align: center;
    }

    #page-heading__text img {
        display: none;
    }
  
}
/* 
@media screen and (max-width: 481px) {
    
} */