---
// Assets
import { Site } from "@site.config";

// Layouts
import Layout from "@layouts/ContentPage.astro";
import Main from "@layout/Main.astro";

// Sections
import FooterContact from "@sections/FooterContact.astro";

// Elements
import PageHeading from "@layout/PageHeading.astro";
import Button from "@elements/Button.astro";

// Layout Props
const description = `Sorry, the page you are looking for does not exist on ${Site.SiteTitle}. Please check the URL or return to the homepage.`;
---
<Layout title="404 Page Not Found" description={description}>
	<Main id="page-not-found">
		<PageHeading 
            background="https://unsplash.it/2560/1440?image=830" 
            width={2560}
            height={1440}
            text="404 Page Not Found"
        />
		<p>Sorry, the page you are looking for does not exist.</p>
        <Button href="/">Back to Home</Button>
	</Main>
    <FooterContact />
</Layout>