---
import { siteConfig } from "../siteConfig";
import Template from "../layouts/ContentPage.astro";
import Main from "../components/layout/Main.astro";
---

<Template title={`Contact | ${siteConfig.title}`} description={`Get in touch with ${siteConfig.brand}"`}>
    <Main id="contact-page">
        <form id="main-contact-form" class="contact-form" name="Contact Page Form" data-netlify="true" netlify-honeypot="question-field">
            <input type="hidden" name="form-name" value="Contact Page Form" />
            <input type="hidden" name="subject" value=`{Contact Page Submisstion from ${siteConfig.prettyUrl}}` />
            <input type="text" id="question-field" name="question-field" />
        </form>
    </Main>
</Template>

<style>
    #question-field {
        position: absolute;
        top: -10000px;
        left: -10000px;
        visibility: hidden;
        height: 0;
        width: 0;
        overflow: hidden;
        z-index: -1;
    }
</style>

<script>
    import { ContactFormHandler } from "../assets/scripts/ContactFormHandler.js";
    document.addEventListener("astro:page-load", () => {
        document.querySelectorAll(".contact-form").forEach((formEl) => {
            new ContactFormHandler(formEl);
        });
    });
</script>
