---
// Assets
import { Site } from "@site.config";

// Layout
import Layout from "@layouts/ContentPage.astro";
import Main from "@layout/Main.astro";

// Sections
import FooterContact from "@sections/FooterContact.astro";

// Elements
import Elements from "@sections/HTMLelements.astro";
import PageHeading from "@layout/PageHeading.astro";

---
<Layout title="Privacy Policy">
    <Main id="privacy-policy-page">
        <PageHeading 
            background="https://unsplash.it/2560/1440?image=178" 
            width={2560}
            height={1440}
            text="Privacy Policy"
        />
        <Elements />
    </Main>
    <FooterContact />
</Layout>