---
/*************************************************************************
 * @elements/Button.astro
 * -----------------------------------------------------------------------
 * 
 * Description:
 *  A flexible button component that can be used as an anchor, button, or switch toggle.
 * 
 * Usage:
 *  - Standard Button:
 *      <Button type="button">Click Me</Button>
 * 
 *  - Link Button (renders as an anchor `<a>`):
 *      <Button href="/about">Go to About</Button>
 * 
 *  - Switch Button (renders as a toggle checkbox/label):
 *      <Button type="switch" name="my-switch" switchTarget="target-id">Toggle Target</Button>
 * 
 *    Example Switch CSS:
 *      body:has(input[data-switch-target="target-id"]:checked) #target-id {
 *          display: block;
 *      }
 * 
 *************************************************************************/

// Import → Styles
import "@theme/elements/Button.css";

// Import → Elements
import Icon from "@elements/SVGicon.astro";

// Props
interface Props {
    href?: string;
    /** Determines the type of Button to render Anchor, Button, Switch, Submit, Reset. */
    type?: "anchor" | "button" | "submit" | "reset" | "switch";
    /** Additional CSS classes. */
    class?: string;
    /** For Switch Button, `id` and `for` attributes for checkbox and label. */
    name?: string;
    /** For Switch Button, `data-switch-target` value for checkbox. See Example Switch CSS in Button.astro */
    switchTarget?: string;
    /** For Switch Button, `checked` attribute for checkbox. */
    checked?: boolean;
    [key: string]: any;
}

// Destructuring Props
const { 
    href,
    type, 
    class: className = "",
    name,
    switchTarget,
    checked,
    ...rest
} = Astro.props;

// Logic 
const finalType = type || (href ? "anchor" : "button");
const isAnchor = finalType === "anchor";
const isSwitch = finalType === "switch";
const isNext = className.includes('next-btn');
const isPrev = className.includes('prev-btn');
---

{
    isAnchor ? (
        <a 
            href={href || "#"} 
            class:list={["button", className]}
            {...rest}
        >
            {isPrev && <Icon name="arrow-left" />}
            <slot />
            {isNext && <Icon name="arrow-right" />}
        </a>
    ) : isSwitch ? (
        <div class:list={["button switch-button", className]} {...rest}>
            <input type="checkbox" data-switch-target={switchTarget} id={name} checked={checked} />
            <label for={name}>
                <slot />
            </label>
        </div>
    ) : (
        <button 
            type={finalType === "submit" ? "submit" : finalType === "reset" ? "reset" : "button"}
            class:list={["button", className]}
            {...rest}
        >
            {isPrev && <Icon name="arrow-left" />}
            <slot />
            {isNext && <Icon name="arrow-right" />}
        </button>
    )
}