---
/*************************************************************************
 * @elements/Modal.astro
 * -----------------------------------------------------------------------
 * 
 * Description: 
 *   A reusable modal component.
 * 
 * Usage:
 *   <Modal data-modal-id="unique-id">
 *      <div class="content">Your Content</div>
 *   </Modal>
 * 
 * Trigger:
 *   <Button data-modal-id="unique-id">Open Modal</Button>
 * 
 *************************************************************************/

// Import → Styles
import "@theme/elements/Modal.css";

// Import → Elements
import Icon from"@elements/SVGicon.astro"
import Button from "@elements/Button.astro";

// Props
interface Props {
    id: string;
    class?: string;
    [key: string]: any;
}

// Destructuring Props
const { id, class: className, ...rest } = Astro.props;
---
<modal-component id={id} class:list={["is-wrapper", className]} {...rest}>
    <div class="content">
        <Icon name="cross" class="close-modal" />
        <slot>
            <p>No content provided for this modal.</p>
            <Button class="close-modal">Close</Button>
        </slot>
    </div>
</modal-component>

<script>
    import "@scripts/Modal.js";
</script>
