<div id="packages" class="row">
    <input type="checkbox" id="price-toggle" checked>
    <header>
        <h2>Available Packages</h2>
        <label for="price-toggle"></label>
        <span class="label-monthly">Monthly</span>
        <span id="price-toggle-slider"></span>
        <span class="label-annually">Annually</span>
    </header>
    <input id="tab-1" type="radio" name="tabs" checked>
    <label class="tab" for="tab-1">Graphic Design</label>
    <input id="tab-2" type="radio" name="tabs">
    <label class="tab" for="tab-2">Business Web Presence</label>
    <input id="tab-3" type="radio" name="tabs">
    <label class="tab" for="tab-3">E-Commerce</label>
    <input id="tab-4" type="radio" name="tabs">
    <label class="tab" for="tab-4">Social Media</label>
    <input id="tab-5" type="radio" name="tabs">
    <label class="tab" for="tab-5">Maintenance</label>
    <section id="content-1">
        <div class="package-cards">
            <div>
                <h3>Basic</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
            <div class="recommended">
                <div class="ribbon ribbon-top-left"><span>recommended</span></div>
                <h3>Premium</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
            <div>
                <h3>Ultimate</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
            <div>
                <h3>Elite</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
        </div>
    </section>
    <section id="content-2">
        <div class="package-cards">
            <div>
                <h3>Up</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
            <div class="recommended">
                <div class="ribbon ribbon-top-left"><span>Most Popular</span></div>
                <h3>Down</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
            <div>
                <h3>Left</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
            <div>
                <h3>Right</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
        </div>
    </section>
    <section id="content-3">
        <div class="package-cards">
            <div>
                <h3>Dog</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
            <div class="recommended">
                <div class="ribbon ribbon-top-left"><span>Most Popular</span></div>
                <h3>Cat</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
            <div>
                <h3>Pig</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
            <div>
                <h3>Mouse</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
        </div>
    </section>
    <section id="content-4">
        <div class="package-cards">
            <div>
                <h3>Him</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
            <div class="recommended">
                <div class="ribbon ribbon-top-left"><span>Most Popular</span></div>
                <h3>Her</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
            <div>
                <h3>They</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
            <div>
                <h3>Them</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
        </div>
    </section>
    <section id="content-5">
        <div class="package-cards">
            <div>
                <h3>One</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
            <div class="recommended">
                <div class="ribbon ribbon-top-left"><span>Most Popular</span></div>
                <h3>Two</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
            <div>
                <h3>Three</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
            <div>
                <h3>Four</h3>
                <div class="number-string monthly">$69<span class="per">/month</span></div>
                <div class="number-string annually">$799<span class="per">/annually</span></div>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit. <span class="unlimited">Unlimited</span></li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <a href="#">More Info</a>
            </div>
        </div>
    </section>
</div>

<style>

    /* Packages (Tabs) -> Large Viewport First */

    #packages {
        text-align: center;
        margin-bottom: 6em;
    }

    #packages>header {
        text-align: center;
        position: relative;
        line-height: 50px;
    }

    #packages h2 {
        display: inline-block;
        margin-right: 20px;
        line-height: 50px;
        font-size: 2.25em;
    }

    #packages input {
        display: none;
    }

    #packages label.tab {
        display: inline-block;
        padding: .5em 1em;
        font-size: 1.5em;
        text-align: center;
        color: #ccc;
        border: 1px solid transparent;
    }

    #packages label.tab:hover {
        color: #666;
        cursor: pointer;
    }

    #packages label.tab:before {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        position: relative;
        right: 5px;
        font: var(--fa-font-solid);
        content: "\f007";
    }

    #packages label.tab[for*='1']:before {
        content: '\f53f';
    }

    #packages label.tab[for*='2']:before {
        content: '\f0ac';
    }

    #packages label.tab[for*='3']:before {
        content: '\f07a';
    }

    #packages label.tab[for*='4']:before {
        content: '\f164';
    }

    #packages label.tab[for*='5']:before {
        content: '\f0ad';
    }


    #packages input[type=radio]:checked+label.tab {
        color: #10598a;
        border-bottom: 2px solid #e13da0;
    }

    #packages section {
        display: none;
        padding: 2em 0 0;
    }

    #packages #tab-1:checked~#content-1,
    #packages #tab-2:checked~#content-2,
    #packages #tab-3:checked~#content-3,
    #packages #tab-4:checked~#content-4,
    #packages #tab-5:checked~#content-5 {
        display: block;
    }

    #content-price-toggle {
        display: block !important;
    }

    /* Packages (Tabs) -> Mobile */

    @media screen and (max-width: 650px) {
        #packages label.tab {
            display: block;
            /* font-size: 0; */
        }

        /* #packages label.tab:before {
            margin: 0;
            font-size: 18px;
        } */
    }

    @media screen and (max-width: 400px) {
        #packages label {
            padding: 15px;
        }
    }

    /* Packages (Price Cards) -> Large Viewport First */

    #packages input#price-toggle {
        font-size: 1px;
        visibility: hidden;
    }

    #packages>header>label[for=price-toggle] {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 30;
        cursor: pointer;
        -webkit-appearance: push-button;
        -moz-appearance: button;
    }

    #packages>header>span.label-monthly,
    #packages>header>span.label-annually {
        font-size: 2em;
        line-height: 50px;
    }

    #packages #price-toggle-slider {
        position: relative;
        cursor: pointer;
        top: 10px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 90px;
        height: 40px;
        display: inline-block;
        background-color: #ccc;
        border-radius: 34px;
        transition: 0.1s;
    }

    #packages #price-toggle-slider:before {
        position: absolute;
        content: "";
        height: 30px;
        width: 30px;
        left: 55px;
        bottom: 5px;
        background-color: #e13da0;
        border-radius: 50%;
        transition: 0.2s;
    }

    #packages>input#price-toggle:checked~header>#price-toggle-slider:before {
        left: 5px;
    }

    #packages>input#price-toggle~header>.label-monthly {
        color: #ccc;
    }

    #packages>input#price-toggle~header>.label-annually {
        color: #e13da0;
    }

    #packages>input#price-toggle:checked~header>.label-monthly {
        color: #e13da0;
    }

    #packages>input#price-toggle:checked~header>.label-annually {
        color: #ccc;
    }

    #packages>input#price-toggle~section .monthly {
        display: none;
    }

    #packages>input#price-toggle~section:checked .monthly {
        display: block;
    }

    #packages>input#price-toggle~section .annually {
        display: block;
    }

    #packages>input#price-toggle:checked~section .annually {
        display: none;
    }

    #packages>input#price-toggle:checked~section .monthly {
        display: block;
    }

    .package-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        margin: 0 0 2em;
    }

    .package-cards>div {
        position: relative;
        width: 340px;
        margin: 0 10px;
        text-align: center;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
        border-radius: 0 60px 0 60px;
        background: #fff;
    }

    .package-cards>div:hover {
        -webkit-transform: scale(1.06);
        -ms-transform: scale(1.06);
        -o-transform: scale(1.06);
        transform: scale(1.06);
    }

    .ribbon {
        width: 150px;
        height: 150px;
        overflow: hidden;
        position: absolute;
    }

    .ribbon::before,
    .ribbon::after {
        position: absolute;
        z-index: -1;
        content: '';
        display: block;
        border: 5px solid #2980b9;
    }

    .ribbon span {
        position: absolute;
        display: block;
        width: 225px;
        padding: 12px 0;
        background-color: #e13da0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        color: #fff;
        font-size: 14px;
        height: 15px;
        line-height: 15px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        text-indent: -12px;
    }

    .ribbon-top-left {
        top: -10px;
        left: -10px;
    }

    .ribbon-top-left::before,
    .ribbon-top-left::after {
        border-top-color: transparent;
        border-left-color: transparent;
    }

    .ribbon-top-left::before {
        top: 0;
        right: 11px;
    }

    .ribbon-top-left::after {
        bottom: 11px;
        left: 0;
    }

    .ribbon-top-left span {
        right: -25px;
        top: 30px;
        transform: rotate(-45deg);
    }

    .package-cards h3 {
        padding: 20px 0;
        margin: 0;
        font-size: 2em;
        text-transform: uppercase;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        color: #FFF;
        background: #e13da0;
        border-radius: 0 60px 0 0;

    }

    .package-cards .number-string {
        font-size: 3em;
        font-weight: 700;
        padding: .25em 0;
        color: #fff;
        background: #666;
    }

    .package-cards .number-string span {
        font-weight: 200;
        font-size: .5em;
        font-family: "Nunito", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .package-cards ul {
        list-style: none;
        height: 300px;
        width: 100%;
        margin-bottom: 60px;
        overflow-y: scroll;
        scrollbar-color: #e13da0 transparent;
        scrollbar-width: thin;
        overflow-x: hidden;
        color: #403d3a;
        background: #FFF;
    }

    .package-cards ul::-webkit-scrollbar-track {
        /* -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2); */
        background-color: #ccc;
    }

    .package-cards ul::-webkit-scrollbar {
        width: 6px;
        background-color: #fff;
    }

    .package-cards ul::-webkit-scrollbar-thumb {
        background-color: #e13da0;
    }

    .package-cards li {
        font-size: 1em;
        font-weight: 700;
        margin: 0;
        padding: .75em 20px;
        text-align: left;
    }

    .package-cards li:nth-child(2n) {
        background: #F0F0F0;
    }

    .package-cards li:before {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        position: relative;
        right: 5px;
        font: var(--fa-font-solid);
        content: "\f058";
        color: #4be13d;
    }

    .package-cards span.unlimited {
        display: inline-block;
        display: none;
        padding: 5px 7px;
        font-size: 0.9em;
        -webkit-border-radius: 38px;
        -moz-border-radius: 38px;
        border-radius: 38px;
        color: #FFF;
        background: #e13da0;
    }

    .package-cards>div>a {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-family: "Roboto Slab";
        font-weight: 700;
        font-size: 1.4em;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
        color: #FFF;
        background: #e13da0;
        border-radius: 0 0 0 60px;

    }

    .package-cards>div>a:hover {
        background: #e13da0;
        text-decoration: underline;
    }

    .package-cards>.recommended>a {
        background: #2c6d97;
    }

    .package-cards>.recommended>a:hover {
        background: #3c78a0;
    }

    .package-cards>.recommended>h3 {
        background: #2c6d97;
    }

</style>