---
import "@theme/elements/Slider.css"; // global for slot
import Icon from "@elements/SVGicon.astro";

interface Props {
    id?: string;
    arrows?: boolean;
    pagination?: boolean;
    bullets?: number;
    bulletColor?: string;
    headers?: string[];
    autoplay?: boolean;
    [key: string]: any;
}

const {
    id,
    arrows = false,
    pagination = false,
    bullets = 3,
    bulletColor = "white",
    autoplay = false,
    class: className,
    ...rest
} = Astro.props;
---

<slider-component id={id} class:list={[{ autoplay: autoplay }, className]} {...rest}>
    {arrows && (<Icon name="arrow-left" class="slider-arrow arrow-left" />)}
        <div class="slides">
            <slot />
        </div>
    {arrows && (<Icon name="arrow-right" class="slider-arrow arrow-right" />)}
    {pagination && (
        <div class="pagination">
            {Array.from({ length: bullets }).map((_, i) => (
                <span class="pagination-bullet" data-index={i} style={`color: ${bulletColor};`} />
            ))}
        </div>
    )}
</slider-component>

<script>
    import "@scripts/Slider.js";
</script>