<div class="ticker-wrapper">
    <div class="ticker">
        <div class="ticker-runner">
            <div class="ticker__item">
                <slot />
            </div>
        </div>
    </div>
</div>

<style is:global>
    div.ticker-wrapper {
        position: relative;
        width: 100%;
    }
    .ticker {
        overflow: hidden;
        width: clamp(94%, 100% - 10cqi, 1440px);
        margin: 0 auto 0;
        border-radius: 6px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: transparent;
    }


    .ticker .ticker-runner {
        display: flex;
        width: max-content;
        animation: ticker-scroll 90s linear infinite;
    }

    .ticker__item {
        white-space: nowrap;
    }

    .ticker__item span {
        display: inline-block;
        margin: 0 1rem;
        padding: 1rem 0 1rem calc(0.5rem + 40px);
        font-size: var(--size-lg);
        font-weight: var(--weight-medium);
        position: relative;
    }

    .ticker__item span::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background-size: contain;
    }


    @keyframes ticker-scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
</style>

<script>
    class Ticker {
        runner: HTMLElement | null;
        item: HTMLElement | null;

        constructor(root: Element) {
            this.runner = root.querySelector(".ticker-runner");
            this.item = this.runner?.querySelector(".ticker__item") || null;
            if (!this.runner || !this.item) return;
            this.cloneItems();
        }
        cloneItems() {
            if (!this.runner || !this.item) return;
            for (let i = 0; i < 3; i++) {
                this.runner.appendChild(this.item.cloneNode(true));
            }
        }
    }

    document.addEventListener(
        "astro:page-load",
        () => {
            const tickers = document.querySelectorAll(".ticker");
            tickers.forEach((ticker) => new Ticker(ticker));
        },
        { passive: true },
    );
</script>
