---
// Initialize request-scoped SVG registries
Astro.locals.iconRegistry = new Set();
Astro.locals.spriteRegistry = new Set();
Astro.locals.logoRegistry = new Set();

// Import Styles
import "@theme/styles.css";
import "@form-styles/forms.css";

// Import Layout Components
import Head from "@layout/Head.astro";
import NoScript from "@layout/NoScript.astro";
import Header from "@layout/Header.astro";
import Footer from "@layout/Footer.astro";
import MobileNav from "@navigation/MobileNav.astro";
import Script from "@layout/Script.astro";

// Import Elements
import IconSheet from "@elements/SVGiconSheet.astro";
import LogoSheet from "@elements/SVGlogoSheet.astro";
import SpriteSheet from "@elements/SVGspriteSheet.astro";
import ConfirmationBox from "@elements/ConfirmationBox.astro";

import type { Props as HeadProps } from "@layout/Head.astro";

// Interface Props
interface Props extends HeadProps {}

// Props
const { ...headProps } = Astro.props;
---
<!doctype html>
<html lang="en">
    <Head {...headProps}>
        <slot name="head" />
    </Head>
    <body>
        <NoScript />
        <Header />
        <slot />
        <Footer />
        <MobileNav />
        <ConfirmationBox />
        <IconSheet />
        <LogoSheet />
        <SpriteSheet />
        <Script>
            <slot name="script" />
        </Script>
    </body>
</html>