---
// Styles
import "@theme/styles.css";
import "@form-styles/forms.css";

// Layout
import Head from "@layout/Head.astro";
import NoScript from "@layout/NoScript.astro";
import Footer from "@layout/Footer.astro";
import Script from "@layout/Script.astro";

// Navigation
import MainNav from "@navigation/MainNav.astro";
import MobileNav from "@navigation/MobileNav.astro";

// Elements
import ConfirmationBox from "@elements/ConfirmationBox.astro";

// SVG Sheets & Registries
if (!Astro.locals.iconRegistry) Astro.locals.iconRegistry = new Set();
if (!Astro.locals.spriteRegistry) Astro.locals.spriteRegistry = new Set();
if (!Astro.locals.logoRegistry) Astro.locals.logoRegistry = new Set();
import IconSheet from "@elements/SVGiconSheet.astro";
import LogoSheet from "@elements/SVGlogoSheet.astro";
import SpriteSheet from "@elements/SVGspriteSheet.astro";

// Props
import type { Props as HeadProps } from "@layout/Head.astro";
interface Props extends HeadProps {}
const { ...headProps } = Astro.props;
---
<!doctype html>
<html lang="en">
    <Head {...headProps}>
        <slot name="head" />
    </Head>
    <body>
        <NoScript />
        <MainNav />
        <slot />
        <Footer />
        <MobileNav />
        <ConfirmationBox />
        <IconSheet />
        <LogoSheet />
        <SpriteSheet />
        <Script>
            <slot name="script" />
        </Script>
    </body>
</html>