---
/*************************************************************************
 * @forms/FormHandler.astro
 * -----------------------------------------------------------------------
 * 
 * Description:
 *  A helper script injector component that automatically binds forms of a 
 *  given CSS class to the client-side FormHandler validator/handler script.
 * 
 * Usage:
 *  <FormHandler className="contact-form" />
 * 
 *************************************************************************/

// Props
interface Props {
    /** The CSS class name of the forms to bind to the client-side FormHandler validator. */
    className: string;
}

// Destructuring Props
const { className } = Astro.props;
---

<span data-form-handler-class={className} class="hidden"></span>
<script>
    import { FormHandler } from "@scripts/FormHandler.js";
    document.addEventListener("astro:page-load", () => {
        document.querySelectorAll("[data-form-handler-class]").forEach((configEl) => {
            const className = configEl.getAttribute("data-form-handler-class");
            if (className) {
                document.querySelectorAll(`.${className}`).forEach((formEl) => {
                    new FormHandler(formEl as HTMLFormElement);
                });
            }
        });
    });
</script>
